In [87]:
#saving bigtable
import pandas_gbq
from datalab.context import Context
import datalab.storage as storage
import datalab.bigquery as bq
from pandas import DataFrame
import time

In [91]:
import re
import pandas as pd

d = pd.read_csv("oui_full.txt", sep="\t", names=['X','companyName'])

In [92]:
d

                       X                                companyName
00-22-72   (hex)     NaN           American Micro-Fuel Device Corp.
002272     (base 16) NaN           American Micro-Fuel Device Corp.
NaN                  NaN                                        NaN
NaN                  NaN                                        NaN
NaN                  NaN                                        NaN
...                   ..                                        ...
9C-0C-35   (hex)     NaN  Shenzhenshi Xinzhongxin Technology Co.Ltd
9C0C35     (base 16) NaN  Shenzhenshi Xinzhongxin Technology Co.Ltd
NaN                  NaN                                        NaN
NaN                  NaN                                        NaN
NaN                  NaN                                        NaN

[163319 rows x 2 columns]

In [96]:
d_cleaned = d[['companyName']].dropna()

In [97]:
s = pd.Series(['hex' in i for i in d_cleaned.index], name='bools')

d_reduced = d_cleaned[s.values]
d_reduced['oui'] = d_reduced.index

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [98]:
d_reduced['oui'] = d_reduced['oui'].apply(lambda x: x.split(' ', 1)[0])

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [99]:
d_reduced.reset_index(inplace=True, drop = True)

In [102]:
start = time.time()
d_reduced.to_gbq('data-prod-270222.derived.14102022_oui', 
                 Context.default().project_id,
                 chunksize=10000, 
                 if_exists='replace'
                 )
end = time.time()
print("time alternative 1 " + str(end - start))

100%|██████████| 1/1 [00:00<00:00, 9731.56it/s]

time alternative 1 3.9527270793914795

In [100]:
d_reduced

                                             companyName       oui
0                       American Micro-Fuel Device Corp.  00-22-72
1                                                    IGT  00-D0-EF
2                                    Rockwell Automation  08-61-95
3                                     Cisco Systems, Inc  F4-BD-9E
4      Realme Chongqing MobileTelecommunications Corp...  58-85-E9
...                                                  ...       ...
32708  Shenzhen Ideaform Industrial Product Design Co...  C8-ED-FC
32709                      Nokia Shanghai Bell Co., Ltd.  F8-22-29
32710                                          eero inc.  78-D6-D6
32711                               TECNO MOBILE LIMITED  50-3C-CA
32712          Shenzhenshi Xinzhongxin Technology Co.Ltd  9C-0C-35

[32713 rows x 2 columns]